@font-face {
  font-family: 'dulcelin';
  src: url("./../fonts/dulcelin.eot");
  src: url("./../fonts/dulcelin.eot?#iefix") format("embedded-opentype"), url("./../fonts/dulcelin.woff2") format("woff2"), url("./../fonts/dulcelin.woff") format("woff"), url("./../fonts/dulcelin.ttf") format("truetype"), url("./../fonts/dulcelin.svg#dulcelin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("./../fonts/icomoon.eot?cd964h");
  src: url("./../fonts/icomoon.eot?cd964h#iefix") format("embedded-opentype"), url("./../fonts/icomoon.ttf?cd964h") format("truetype"), url("./../fonts/icomoon.woff?cd964h") format("woff"), url("./../fonts/icomoon.svg?cd964h#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-brillo:before {
  content: "\e901";
}

.icon-carro:before {
  content: "\e902";
}

.icon-electro:before {
  content: "\e903";
}

.icon-joya:before {
  content: "\e904";
}

.icon-camera:before {
  content: "\e900";
}

body {
  background: transparent url("./../images/bg.jpg") 0 0 repeat-y;
  background-size: 100%;
  color: #343434;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  min-height: 100vh;
}

a {
  color: #2883ff;
  -moz-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  -webkit-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
a:focus, a:hover {
  color: #e24b70;
}

.Underline {
  border-bottom: 3px solid white;
  padding: 0 3rem;
}
@media screen and (max-width: 575px) {
  .Underline {
    padding: 0;
  }
}

.Btn {
  -moz-border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 700;
  padding: .5rem 2.5rem;
  -moz-transition: background-color 0.3s ease-out, color 0.4s ease-in;
  -o-transition: background-color 0.3s ease-out, color 0.4s ease-in;
  -webkit-transition: background-color 0.3s ease-out, color 0.4s ease-in;
  transition: background-color 0.3s ease-out, color 0.4s ease-in;
}
.Btn--transparent {
  background-color: transparent;
}
.Btn--borderPink {
  border: 2px solid #e24b70;
}
.Btn--pink {
  color: #e24b70;
}
.Btn--pink:focus, .Btn--pink:hover {
  background-color: #e24b70;
  color: white;
}

.Header {
  padding: 1rem 0;
}

.Header__logo {
  margin-bottom: 0;
}
@media screen and (max-width: 991px) {
  .Header__logo {
    text-align: center;
  }
}

.Main__wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.Main__wrapper--vcenter {
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .Main__wrapper {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.Main__slogan, .Main__register {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: space-between;
  align-content: space-between;
  width: 48%;
}
@media screen and (max-width: 991px) {
  .Main__slogan, .Main__register {
    -webkit-align-content: center;
    align-content: center;
  }
}

@media screen and (max-width: 991px) {
  .Main__slogan {
    width: 30%;
  }
}
@media screen and (max-width: 767px) {
  .Main__slogan {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .Main__register {
    width: 65%;
  }
}
@media screen and (max-width: 767px) {
  .Main__register {
    width: 100%;
  }
}

.Main__slogan__figure, .Main__slogan__info, .Main__slogan__message {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .Main__slogan__figure img {
    width: 50%;
  }
}

.Main__slogan__info p {
  font-size: 1.375rem;
}
@media screen and (max-width: 991px) {
  .Main__slogan__info p {
    font-size: 1.1rem;
  }
}

.Main__slogan__message h4 {
  color: #e24b70;
  font-size: 2rem;
  font-weight: 600;
}
@media screen and (max-width: 991px) {
  .Main__slogan__message h4 {
    font-size: 1.7rem;
  }
}

.Main__register__title, .Main__form {
  width: 100%;
}

.Main__register__form {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media screen and (max-width: 575px) {
  .Main__register__form {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.Main__register__form__box {
  width: 45%;
}
@media screen and (max-width: 575px) {
  .Main__register__form__box {
    width: 100%;
  }
}

.Main__register__title {
  color: #e24b70;
  font-size: 1.75rem;
  font-weight: 600;
}

.Main__register__form__subtitle {
  color: #676767;
  font-size: 1rem;
  font-weight: 700;
}

.Main__register__text {
  color: #676767;
  font-size: .875rem;
  font-weight: 600;
}

.Main__register__icons {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
}
.Main__register__icons li {
  display: inline-block;
  vertical-align: top;
}
.Main__register__icons i[class^="icon-"] {
  color: white;
  font-size: 8rem;
}

.Main__logo {
  width: 30%;
}

.Main__welcome {
  width: 65%;
}

@media screen and (max-width: 575px) {
  .Main__logo, .Main__welcome {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .Main__logo__figure img {
    width: 50%;
  }
}

.Main__welcome__name {
  color: #e24b70;
  font-family: "dulcelin", sans-serif;
  font-size: 4rem;
}
@media screen and (max-width: 991px) {
  .Main__welcome__name {
    font-size: 3rem;
  }
}

.Main__welcome__message {
  color: white;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: #e24b70 2px 2px 0;
}
@media screen and (max-width: 991px) {
  .Main__welcome__message {
    font-size: 2rem;
  }
}

.Main__title {
  color: #e24b70;
  font-size: 2.5rem;
  font-weight: 700;
}
@media screen and (max-width: 991px) {
  .Main__title {
    font-size: 2rem;
  }
}
@media screen and (max-width: 575px) {
  .Main__title {
    font-size: 1.7rem;
  }
}

.Form__label {
  color: #676767;
  font-size: .875rem;
  font-weight: 600;
}

.Form__input {
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
}
@media screen and (max-width: 991px) {
  .Form__input {
    line-height: 2rem;
  }
}

.Form__file__container {
  background-color: #e24b70;
  -moz-border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  border-radius: 1.5rem;
  color: white;
  display: block;
  overflow: hidden;
  padding: .5rem 0;
  position: relative;
  text-align: center;
}
.Form__file__container i[class^="icon-"] {
  font-size: 1.5rem;
  vertical-align: bottom;
}
.Form__file__container [type="file"] {
  cursor: pointer;
  display: inline-block;
  min-height: 100%;
  min-width: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.Boxes {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 3rem 0;
}

.Box {
  background-color: white;
  display: -webkit-flex;
  display: flex;
  -webkit-align-content: space-between;
  align-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1rem;
  width: 30%;
}
@media screen and (max-width: 767px) {
  .Box {
    width: 48%;
  }
}
@media screen and (max-width: 575px) {
  .Box {
    width: 100%;
  }
}

.Box__figure, .Box__title {
  width: 100%;
}

.Box__title {
  color: #e24b70;
  font-family: "dulcelin", sans-serif;
  font-size: 1.75rem;
}

/*# sourceMappingURL=style.css.map */
